@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<h3 align='center'>Tradition &amp; Philosophy</h3>
<h4 align='center'>customer satisfaction &nbsp;• &nbsp;quality assurance &nbsp;• &nbsp;innovative approach &nbsp;• &nbsp;traditional philosophy</h4>

<div class="item active">
    <div>
        <p>
            Big Panda Bakery is a traditional family operated company with a modern management style that strives to preserve the long tradition of Chinese pastries while at the same time adheres to the philosophy of high quality and innovation demanded by modern day customers.
        </p>
    </div>
    <img src="~/images/pandas.png" alt="Big Panda Bakery" class="img-responsive" />
    <p>
        Innovative Approach  •  Traditional Philosophy 
    </p>
</div>
