@{
    ViewData["Title"] = "Our Menu";
}

<div>
    <h2 style="text-align: center">Welcome to <strong>Big Panda Bakery</strong>'s online store&nbsp;</h2>

    <div id="page-body-header" class="extra-wrapper">
        <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Shop Header Content" data-type="block-field" data-updated-on="1515488774981" id="page-header-57f80a35ff7c5085cbd11aa8">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-df0d3bde2d8b8f6d4f78">
                        <div class="sqs-block-content">
                            <p style="text-align: center; color:#808080;">*Please allow 24 hours for order to be processed for pick up</p>
                            <p style="text-align: center; color:#808080;">More Products Coming Soon</p>
                        </div></div></div></div></div>
    </div>

    <div>
        <p style="line-height:3.5em; text-align: center; color:#808080; font-size: 200%"> &nbsp;Innovative Approach &nbsp;•&nbsp; Traditional Philosophy
        </p>
        
        <div style="position: absolute; width: 317px; height: 372px; top: 300px; left: 150px;">
            <div data-exact-height="320" data-content-padding-horizontal="0" data-content-padding-vertical="0" title="" id="comp-il0rilia" style="position: absolute; left: 0px; top: 0px; width: 317px; height: 320px;">
                <div style="width: 317px; height: 320px;">
                    <div style="position: relative; width: 317px; height: 320px;">
                        <img alt="" data-type="image" 
                             src="~/images/bread.png" style="width: 317px; height: 320px; object-fit: cover;">
                    </div>
                </div>
            </div>
            <div data-packed="true" class="txtNew" id="comp-il0rilic" style="width: 315px; position: absolute; left: 0px; top: 346px;">
                <h5 class="font_5" style="line-height:1.2em; text-align:center;">Bread</h5>
            </div>
        </div>
        

        <div style="position: absolute; width: 317px; height: 372px; top: 300px; left: 550px;">
            <div>
                <div style="position: relative; width: 317px; height: 320px;">
                    <img alt="Coffee & Tea" data-type="image" src="~/images/bobaTea.png" style="width: 317px; height: 320px; object-fit: cover;">
                </div>
                <div data-packed="true" style="width: 315px; position: absolute; left: 0px; top: 346px;">
                    <h5 class="font_5" style="line-height:1.2em; text-align:center;">Coffee &amp; Tea</h5>
                </div>
            </div>
        </div>
        <div class="s_BIwzIGroupSkin" id="comp-il0rilis" style="position: absolute; width: 102px; height: 121px; top: 240px; left: 762px;">
            <div id="comp-il0rilisinlineContent" class="s_BIwzIGroupSkininlineContent">
                <div data-svg-id="0e2a498bb16b1dc6967b754e426e4a26_svgshape.v1.SealStamp2.svg" data-svg-type="shape" data-display-mode="legacyFit" data-strokewidth="0" data-viewbox="0 0 600 592" data-preserve-viewbox="ignore" class="style-il0riliw2" id="comp-il0riliv" style="width: 102px; position: absolute; left: 0px; top: 0px; height: 121px;">
                    <div class="style-il0riliw2_comp-il0riliv style-il0riliw2_non-scaling-stroke style-il0riliw2svg" id="comp-il0rilivsvg" style="fill-opacity: 1; stroke-width: 0; stroke: rgb(237, 21, 102); stroke-opacity: 1; fill: rgb(0, 0, 0);">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="60.78703308105469 56.7950439453125 478.42694091796875 478.4119873046875" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                            <g>
                                <path d="M534.135 345.155l-24.656 17.296 10.172 28.349-26.547 11.579 4.394 28.633-29.395 6.545-1.449 30.087-28.96.54-6.894 28.134-29.666-5.202-12.843 27.221-26.961-10.58-17.134 23.351-25.414-16.151-22.291 20.25-20.861-20.097-24.766 15.023-17.304-24.661-28.351 10.182-11.583-26.553-28.629 4.403-6.547-29.396-30.083-1.45-.539-28.957-28.136-6.896 5.202-29.662-27.247-12.849 10.586-26.966-23.358-17.133 16.162-25.419-20.25-22.298 20.1-20.856-15.022-24.772 24.655-17.293-10.18-28.339 26.554-11.582-4.405-28.631 29.396-6.545 1.444-30.09 28.962-.537 6.892-28.139 29.672 5.205 12.853-27.238 26.958 10.582 17.137-23.353 25.415 16.156 22.294-20.251 20.861 20.098 24.767-15.022 17.299 24.656 28.348-10.172 11.582 26.546 28.629-4.396 6.547 29.389 30.079 1.446.541 28.96 28.133 6.892-5.2 29.67 27.246 12.853-10.582 26.964 23.352 17.132-16.155 25.418 20.255 22.298-20.102 20.86 15.023 24.768z"></path>
                            </g>
                        </svg>
                    </div>
                </div>
                <div data-packed="true" class="txtNew" id="comp-il0rilix" style="width: 83px; position: absolute; left: 9px; top: 24px;">
                    <h6 style="text-align:center;" class="font_6">
                        <span style="color: white; font-size: 200%">New</span>
                    </h6>
                </div>
            </div>
        </div>
        <div style="position: absolute; width: 317px; height: 372px; top: 300px; left: 950px;">
            <div>
                <div style="position: relative; width: 317px; height: 320px;">
                    <img alt="Cake" data-type="image" src="~/images/cakePanda.png" style="width: 317px; height: 320px; object-fit: cover;">
                </div>
                <div data-packed="true" style="width: 315px; position: absolute; left: 0px; top: 346px;">
                    <h5 class="font_5" style="line-height:1.2em; text-align:center;">Cakes</h5>
                </div>
            </div>
        </div>
    </div>

    <!--list of Breads-->
    <div style="position: absolute; top: 750px;">
        <div>
            <div style="position: absolute; left: 550px; text-align: center; color: rgb(153, 143, 132); font: normal normal normal 22px/1.5em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; margin-bottom: 20px">Breads</div>
            <div style="position: absolute; top: 30px; left: 535px; background-color: rgb(153, 143, 132); width: 100px; height: 2px; margin: 0 auto;" data-hook="wixrest-menus-sub-category-divider"></div>
            <div style="position: absolute; top: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 1196px; margin: 0 auto;">
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s232" srcset="https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s232 232w, https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s464 464w, https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s696 696w, https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s928 928w" alt="Plain Bagel" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Plain Bagel (5 pcs.)</div>
                        <!--<div data-hook="wixrest-menus-item-description"> Fresh whole wheat plain bagel (5 pc)</div>-->
                        <div data-hook="wixrest-menus-item-price">$9</div>
                    </div>
                    <!--<div></div>
                    <div data-hook="wixrest-menus-item-icons" class="yummyccDYq yummy3jlJP">
                        <div data-hook="dish-icons"></div>
                    </div>-->
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s232" srcset="https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s232 232w, https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s464 464w, https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s696 696w, https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s928 928w" alt="Sesame Bagel" sizes="232px" class="yummy1_BEf" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Sesame Bagel (5 pcs.)</div>
                        <div data-hook="wixrest-menus-item-price">$9</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s232" srcset="https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s232 232w, https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s464 464w, https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s696 696w, https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s928 928w" alt="Sunflower Seeds Bagel" sizes="232px" class="yummy1_BEf" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Sunflower Seeds Bagel (5 pcs.)</div>
                        <div data-hook="wixrest-menus-item-price">$9</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s232" srcset="https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s232 232w, https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s464 464w, https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s696 696w, https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s928 928w" alt="Poppyseed Bagel" sizes="232px" class="yummy1_BEf" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Poppyseed Bagel (5 pcs.)</div>
                        <div data-hook="wixrest-menus-item-price">$9</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/chiaBread.png" alt="Chia Bread" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Chia Bread</div>
                        <div data-hook="wixrest-menus-item-price">$6.99</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/orangeBun.png" alt="Orange Bun" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Orange Bun</div>
                        <div data-hook="wixrest-menus-item-price">$2.99</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/whiteLoafBread.png" alt="White Loaf Bread" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">White Loaf Bread</div>
                        <div data-hook="wixrest-menus-item-price">$2.99</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/redBeanBun.png" alt="Red Bean Bun" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Red Bean Bun</div>
                        <div data-hook="wixrest-menus-item-price">$2.99</div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <!--list of Coffee & Tea -->
    <div style="position: absolute; top: 1400px;">
        <div>
            <div style="position: absolute; left: 500px; width: 200px; text-align: center; color: rgb(153, 143, 132); font: normal normal normal 22px/1.5em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; margin-bottom: 20px">Coffee &amp; Tea</div>
            <div style="position: absolute; top: 30px; left: 535px; background-color: rgb(153, 143, 132); width: 130px; height: 2px; margin: 0 auto;" data-hook="wixrest-menus-sub-category-divider"></div>
            <div style="position: absolute; top: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 1196px; margin: 0 auto;">
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/darkCoffee.png" alt="Dark Coffee" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Dark Coffee</div>
                        <div data-hook="wixrest-menus-item-price">$2.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/LatteCoffee.png" alt="Latte" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Latte</div>
                        <div data-hook="wixrest-menus-item-price">$3.29</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/mochaCoffee.png" alt="Mocha" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Mocha</div>
                        <div data-hook="wixrest-menus-item-price">$3.29</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/mintTea.png" alt="Mint Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Mint Tea</div>
                        <div data-hook="wixrest-menus-item-price">$2.99</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/greenTea.png" alt="Green Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Green Tea</div>
                        <div data-hook="wixrest-menus-item-price">$2.99</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/gingerTea.png" alt="Ginger Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Ginger Tea</div>
                        <div data-hook="wixrest-menus-item-price">$2.99</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/regularBobaTea.png" alt="Regular Boba Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Regular Boba Tea</div>
                        <div data-hook="wixrest-menus-item-price">$3.49</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/blueRaspberryBobaTea.png" alt="Blue Raspberry Boba Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Blue Raspberry Boba Tea</div>
                        <div data-hook="wixrest-menus-item-price">$4.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/durianBobaTea.png" alt="Durian Boba Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Durian Boba Tea</div>
                        <div data-hook="wixrest-menus-item-price">$4.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/fruitBobaTea.png" alt="Fruit Boba Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Fruit Boba Tea</div>
                        <div data-hook="wixrest-menus-item-price">$3.79</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--list of Cakes-->
    <div style="position: absolute; top: 2300px;">
        <div>
            <div style="position: absolute; left: 560px; text-align: center; color: rgb(153, 143, 132); font: normal normal normal 22px/1.5em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; margin-bottom: 20px">Cake</div>
            <div style="position: absolute; top: 30px; left: 545px; background-color: rgb(153, 143, 132); width: 90px; height: 2px; margin: 0 auto;" data-hook="wixrest-menus-sub-category-divider"></div>
            <div style="position: absolute; top: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 1196px; margin: 0 auto;">
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/cakeChoclate.png" alt="Chocolate Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Chocolate Cake</div>
                        <div data-hook="wixrest-menus-item-price">$2.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/cakePanda.png" alt="Panda Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Panda Cake</div>
                        <div data-hook="wixrest-menus-item-price">$39.29</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/cakePinkPanda.png" alt="Pink Panda Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Pink Panda Cake</div>
                        <div data-hook="wixrest-menus-item-price">$39.29</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/cakeChocolateWhiskey.png" alt="Chocolate Whiskey" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Chocolate Whiskey Cake</div>
                        <div data-hook="wixrest-menus-item-price">$39.99</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/cakeSkyFlower.png" alt="Sky Flower Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Sky Flower Cake</div>
                        <div data-hook="wixrest-menus-item-price">$39.99</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/cakeVanillaParty.png" alt="Vanilla Party Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Vanilla Party Cake</div>
                        <div data-hook="wixrest-menus-item-price">$29.99</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/cakeIceCreamCrunch.png" alt="Ice Cream Crunch Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Ice Cream Crunch Cake</div>
                        <div data-hook="wixrest-menus-item-price">$39.49</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/cake.jpg" alt="Cute Panda Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Cute Panda Cakea</div>
                        <div data-hook="wixrest-menus-item-price">$49.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/mooncake1.png" alt="Traditional Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Traditional Mooncake</div>
                        <div data-hook="wixrest-menus-item-price">$4.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/mooncakeCrunch.png" alt="Crispy Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Crispy Mooncake</div>
                        <div data-hook="wixrest-menus-item-price">$4.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/mooncakeCendolJelly.png" alt="Cendol Jelly Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Cendol Jelly Mooncake</div>
                        <div data-hook="wixrest-menus-item-price">$5.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/mooncakePinkKele.png" alt="Pink Kele Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Pink Kele Mooncake</div>
                        <div data-hook="wixrest-menus-item-price">$5.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/mooncakeSnowskin.png" alt="Snow Skin Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Snow Skin Mooncake</div>
                        <div data-hook="wixrest-menus-item-price">$5.79</div>
                    </div>
                </div>
                <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                    <img src="~/images/mooncakeMatcha.png" alt="Matcha Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                    <div>
                        <div data-hook="wixrest-menus-item-title">Matcha Mooncake</div>
                        <div data-hook="wixrest-menus-item-price">$5.79</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>