@{
    ViewData["Title"] = "Order";
}

<div>
    <h2 style="text-align: center">Welcome to <strong>Big Panda Bakery</strong>'s online store&nbsp;</h2>
    <div id="page-body-header" class="extra-wrapper">
        <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Shop Header Content" data-type="block-field" data-updated-on="1515488774981" id="page-header-57f80a35ff7c5085cbd11aa8">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-df0d3bde2d8b8f6d4f78">
                        <div class="sqs-block-content">
                            <p style="text-align: center; color:#808080;">*Please allow 24 hours for order to be processed for pick up</p>
                            <p style="text-align: center; color:#808080;">More Products Coming Soon</p>
                        </div></div></div></div></div>
    </div>

    <!--list of Breads-->
    <div style="position: relative;">
        <div>
            <div style="position: relative; top: 10px; text-align: center; color: rgb(153, 143, 132); font: normal normal normal 22px/1.5em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; margin-bottom: 10px">Breads</div>
            <div style="position: relative; background-color: rgb(153, 143, 132); width: 100px; height: 2px; margin: 0 auto;" data-hook="wixrest-menus-sub-category-divider"></div>
            <div style="position: relative; top: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 1196px; margin: 0 auto;">
                <!--<a href="/Home/Menu" class="product hentry author-joanne-wong post-type-store-item article-index-2 sold-out clear" id="thumb-chinese-new-year-pudding-with-almond-milk" data-item-id="5a548b779140b7f26619a897">
                -->
                <a asp-area="" asp-controller="Home" asp-action="ProductBread">  <!--asp-route-category=1 asp-route-id=0-->
                    <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s232" srcset="https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s232 232w, https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s464 464w, https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s696 696w, https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s928 928w" alt="Plain Bagel" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Plain Bagel (5 pcs.)</div>
                            <!--<div data-hook="wixrest-menus-item-description"> Fresh whole wheat plain bagel (5 pc)</div>-->
                            <div data-hook="wixrest-menus-item-price">$9</div>
                        </div>
                        <!--<div></div>
                        <div data-hook="wixrest-menus-item-icons" class="yummyccDYq yummy3jlJP">
                            <div data-hook="dish-icons"></div>
                        </div>-->
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s232" srcset="https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s232 232w, https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s464 464w, https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s696 696w, https://lh3.googleusercontent.com/gRQ4AqPGe3k20PQoOXbVi-3h2Nh_F2AULZdxDTmyteDHS1oTgcCo3scMh_kt_XFwpfHdX7IX4sp9zCw6mbshog=s928 928w" alt="Sesame Bagel" sizes="232px" class="yummy1_BEf" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Sesame Bagel (5 pcs.)</div>
                            <div data-hook="wixrest-menus-item-price">$9</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s232" srcset="https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s232 232w, https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s464 464w, https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s696 696w, https://lh3.googleusercontent.com/4awR3OSOFT0V7WciukINTvMWD-oj7-A3-mpbORBQc31M-FiAK20krUoLvSiRULJMAJr8nKQWg3Lc4gmnKqBVah0=s928 928w" alt="Sunflower Seeds Bagel" sizes="232px" class="yummy1_BEf" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Sunflower Seeds Bagel (5 pcs.)</div>
                            <div data-hook="wixrest-menus-item-price">$9</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s232" srcset="https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s232 232w, https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s464 464w, https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s696 696w, https://lh3.googleusercontent.com/1DvYJ-kzaWW5YWv9TSxHvu-QBjtL8wgqAy3H-EMibO_wWfPyp7YpcVodCUOqeyo091zGoTuNc0scMLj9xxqx9w=s928 928w" alt="Poppyseed Bagel" sizes="232px" class="yummy1_BEf" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Poppyseed Bagel (5 pcs.)</div>
                            <div data-hook="wixrest-menus-item-price">$9</div>
                        </div>
                    </div>   
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/chiaBread.png" alt="Chia Bread" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Chia Bread</div>
                            <div data-hook="wixrest-menus-item-price">$6.99</div>
                        </div>
                    </div>   
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/orangeBun.png" alt="Orange Bun" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Orange Bun</div>
                            <div data-hook="wixrest-menus-item-price">$2.99</div>
                        </div>
                    </div>    
                </a>

                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/whiteLoafBread.png" alt="White Loaf Bread" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">White Loaf Bread</div>
                            <div data-hook="wixrest-menus-item-price">$2.99</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/redBeanBun.png" alt="Red Bean Bun" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Red Bean Bun</div>
                            <div data-hook="wixrest-menus-item-price">$2.99</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div> 
    
    <!--list of Coffee & Tea -->
    <div style="position: relative; top: 30px;">
        <div>
            <div style="position: relative; top: 10px; left: 470px; width: 200px; text-align: center; color: rgb(153, 143, 132); font: normal normal normal 22px/1.5em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;margin-bottom: 10px">Coffee &amp; Tea</div>
            <div style="position: relative; text-align: center; background-color: rgb(153, 143, 132); width: 130px; height: 2px; margin: 0 auto;" data-hook="wixrest-menus-sub-category-divider"></div>
            <div style="position: relative; top: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 1196px; margin: 0 auto;">
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/darkCoffee.png" alt="Dark Coffee" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Dark Coffee</div>
                            <div data-hook="wixrest-menus-item-price">$2.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/LatteCoffee.png" alt="Latte" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Latte</div>
                            <div data-hook="wixrest-menus-item-price">$3.29</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/mochaCoffee.png" alt="Mocha" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Mocha</div>
                            <div data-hook="wixrest-menus-item-price">$3.29</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/mintTea.png" alt="Mint Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Mint Tea</div>
                            <div data-hook="wixrest-menus-item-price">$2.99</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/greenTea.png" alt="Green Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Green Tea</div>
                            <div data-hook="wixrest-menus-item-price">$2.99</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/gingerTea.png" alt="Ginger Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Ginger Tea</div>
                            <div data-hook="wixrest-menus-item-price">$2.99</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/regularBobaTea.png" alt="Regular Boba Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Regular Boba Tea</div>
                            <div data-hook="wixrest-menus-item-price">$3.49</div>
                        </div>
                    </div>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="ProductTea">
                    <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/blueRaspberryBobaTea.png" alt="Blue Raspberry Boba Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Blue Raspberry Boba Tea</div>
                            <div data-hook="wixrest-menus-item-price">$4.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/durianBobaTea.png" alt="Durian Boba Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Durian Boba Tea</div>
                            <div data-hook="wixrest-menus-item-price">$4.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/fruitBobaTea.png" alt="Fruit Boba Tea" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Fruit Boba Tea</div>
                            <div data-hook="wixrest-menus-item-price">$3.79</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!--list of Cakes-->
    <div style="position: relative; top:30px;">
        <div>
            <div style="position: relative; top: 10px; text-align: center; color: rgb(153, 143, 132); font: normal normal normal 22px/1.5em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;margin-bottom: 10px">Cake</div>
            <div style="position: relative; text-align: center; background-color: rgb(153, 143, 132); width: 90px; height: 2px; margin: 0 auto;" data-hook="wixrest-menus-sub-category-divider"></div>
            <div style="position: relative; top: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 1196px; margin: 0 auto;">
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/cakeChoclate.png" alt="Chocolate Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Chocolate Cake</div>
                            <div data-hook="wixrest-menus-item-price">$2.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/cakePanda.png" alt="Panda Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Panda Cake</div>
                            <div data-hook="wixrest-menus-item-price">$39.29</div>
                        </div>
                    </div>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="ProductCake">
                    <div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/cakePinkPanda.png" alt="Pink Panda Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Pink Panda Cake</div>
                            <div data-hook="wixrest-menus-item-price">$39.29</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/cakeChocolateWhiskey.png" alt="Chocolate Whiskey" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Chocolate Whiskey Cake</div>
                            <div data-hook="wixrest-menus-item-price">$39.99</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/cakeSkyFlower.png" alt="Sky Flower Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Sky Flower Cake</div>
                            <div data-hook="wixrest-menus-item-price">$39.99</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/cakeVanillaParty.png" alt="Vanilla Party Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Vanilla Party Cake</div>
                            <div data-hook="wixrest-menus-item-price">$29.99</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/cakeIceCreamCrunch.png" alt="Ice Cream Crunch Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Ice Cream Crunch Cake</div>
                            <div data-hook="wixrest-menus-item-price">$39.49</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/cake.jpg" alt="Cute Panda Cake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Cute Panda Cakea</div>
                            <div data-hook="wixrest-menus-item-price">$49.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/mooncake1.png" alt="Traditional Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Traditional Mooncake</div>
                            <div data-hook="wixrest-menus-item-price">$4.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/mooncakeCrunch.png" alt="Crispy Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Crispy Mooncake</div>
                            <div data-hook="wixrest-menus-item-price">$4.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/mooncakeCendolJelly.png" alt="Cendol Jelly Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Cendol Jelly Mooncake</div>
                            <div data-hook="wixrest-menus-item-price">$5.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/mooncakePinkKele.png" alt="Pink Kele Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Pink Kele Mooncake</div>
                            <div data-hook="wixrest-menus-item-price">$5.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/mooncakeSnowskin.png" alt="Snow Skin Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Snow Skin Mooncake</div>
                            <div data-hook="wixrest-menus-item-price">$5.79</div>
                        </div>
                    </div>
                </a>
                <a><div style="width: 240px; text-align: center; margin-right: 50px; margin-bottom: 50px; position: relative;" data-item-id="6b750b76-0b6b-414c-9050-f3b8c3c93c9c" data-hook="wixrest-menus-item">
                        <img src="~/images/mooncakeMatcha.png" alt="Matcha Mooncake" data-type="image" style="width: 160px; height: 160px; margin-bottom: 10px; -o-object-fit: cover; object-fit: cover;" sizes="232px" data-hook="wixrest-menus-item-image">
                        <div>
                            <div data-hook="wixrest-menus-item-title">Matcha Mooncake</div>
                            <div data-hook="wixrest-menus-item-price">$5.79</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>