@{
    ViewData["Title"] = "Order Now";
}

<h2 style="text-align: center">Welcome to <strong>Big Panda Bakery</strong>'s online store&nbsp;</h2>
<div>
    <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Shop Header Content" data-type="block-field" data-updated-on="1515488774981" id="page-header-57f80a35ff7c5085cbd11aa8">
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-df0d3bde2d8b8f6d4f78">
                    <div class="sqs-block-content">
                        <p style="text-align: center; color:#808080;">*Please allow 24 hours for order to be processed for pick up</p>
                        <p style="text-align: center; color:#808080;">More Products Coming Soon</p>
                    </div></div></div></div></div>
    <div id="productNav"><a href="/Home/Order/" style="top: 20px; color: #c03a30;font-family: proxima-nova; font-size: 18px; font-weight: 240; font-style: normal; letter-spacing: 1.75px; text-transform: none; line-height: .9em;">
        <span class="back-arrow">←</span> BACK TO SHOP</a>
    </div>
</div>

<div style="position: relative; top: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 1196px; margin: 0 auto;">

    <div data-type="image" style="opacity: 1; z-index: 889; overflow: hidden; margin-right: 40px;">
        <img alt="Plain Bagel" src="https://lh3.googleusercontent.com/3FPTEQluuMen3rKGSngV1_BSAf_y5OJfQtGEoO62tEX_0a5MXkYlyejNEEvXULAMFYTRUeaNER9k5rPEbWpo=s232" style="font-size: 0px; left: 0px; top: 10px; width: 335px; height: 335px; position: relative; -o-object-fit: cover; object-fit: cover;" data-image-resolution="500w">
        <div class=""></div>
    </div>
    <div style="position: relative; top:20px; display: block;">
        <h1 style="font-family: proxima-nova; font-size: 38px; font-weight: 100; font-style: normal; letter-spacing: 1.75px; text-transform: none; line-height: .9em;" data-content-field="title">Plain Whole Wheat Bagel (5 pcs.)</h1>
        <div id="item-group" style="position: relative; top: 20px; margin-bottom: 20px;">
            <div class="property-name">Quantity:</div>
            <div style="postion: relative; height: 30px; Width: 80px;">
                <div class="quantity-cont">
                    <input id="item-quant-6627" type="hidden" text="">
                    <select id="item-quant-6627-input" onchange="setQuantity(6627,this.value,0)">
                    <option selected="" value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10+</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="margin-top: 1em; margin-bottom: 1em; font-size: 24px; line-height: 1.5em;">
            <span>$</span><span>9.00</span>
        </div>
        <div style="width: 660px; height: 280px;" data-original-label="Add To Cart" id="bpb_3_17_2_1_1524107539735_116">
            <a asp-area="" asp-controller="Home" asp-action="ShowCart">
                <button id ="addToCartButton" type="submit" style="position: relative; top: 20px; width: 160px; height: 40px; color: #fff; background-color: #272727; border-color: #272727;">ADD TO CART</button>
            </a>
        </div>
    </div>

</div>